<!DOCTYPE html>
<html>
    <head>
        {% if environment == "production" %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127449554-1"></script>
            <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-127449554-1');
            </script>
        {% endif %}
        <title>Crime Map</title>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.js"></script>

        <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"/>
    </head>

    <body>
        <div id="full-page">
            <div id="app"></div>
        </div>
        <script src="{{ frontend_root }}/bundle.js"></script>
    </body>
</html>