# Flask
*.pyc

# app specific
maps_key.txt

# virtualenv stuff
bin/
dist/
include/
lib/
local/
share/

# node
node_modules/

# editor swaps
*.swp
*.sw*

# Visual Studio Code
.vscode/

# MapKitJS
AuthKey.p8
app/AuthKey.p8
geocoder/maps_key.txt

# Project's mongodb storage for development
mongodb/*
