<!DOCTYPE html>
<html>
  <head>
    <style>
		body, html, #map {
			height: 100%;
        	width: 100%;
			margin: 0;
			padding: 0;
		}

		nav {
			display: flex;
			justify-content: center;
		}

		h1 {
			margin: auto;
			position: fixed;
			z-index: 50;
		}

		#map {
			position: relative;
		}
    </style>
	<script type="text/javascript">
		var _paq = _paq || [];
		/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
		_paq.push(['trackPageView']);
		_paq.push(['enableLinkTracking']);
		(function() {
			var u="//g1y.innocraft.cloud/";
    		_paq.push(['setTrackerUrl', u+'piwik.php']);
    		_paq.push(['setSiteId', '1']);
    		var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
	    	g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  		})();
	</script>
  </head>
  <body>
	<nav>
			<h1>Events over the past four days</h3>
	</nav>
	<div id="map"></div>
	<div id="asdf"></div>
	<script src="/js/bundle.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCToYBCdm8cAVxX4unsEgOunuKxhTOHnc0&callback=initMap">
    </script>
  </body>
</html>
